<!-- Vue组件之间通过prop传递数据
    1 通过prop属性从父组件往子组件传递数据
    2 Prop属性值检查(类型校验，必填校验，设置默认值，自定义校验)
        String
        Number
        Boolean
        Array
        Object
        Date
        Function
        Symbol
 -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 驼峰式会自动转成连接符形式 -->
        <my-comp :title="title" :list="cities" :age="age"></my-comp>
    </div>
    <!-- 定义一个Vue组件 -->
    <script type="text/x-template" id="myTemp">
        <div>
            <h2>{{title}}</h2>
            <ul>
                <li v-for="city in list">{{city}}</li>
            </ul>
            <p>{{age}}</p>
        </div>
    </script>
    <script>
        Vue.component('myComp',{            //定义一个标签名为myComp的全局组件
            // props: ['title','list'],        //props属性用于自定义组件属性并向子组件传递数据

            // props属性值校验
            props: {
                title: String,
                list: {                         //如果有多个校验，使用对象定义
                    type: Array,
                    required: true
                },
                age: {
                    type: Number,
                    validator(value) {
                        console.log(value);
                        return value >= 0 && value <= 150;
                    }
                }
            },

            template: '#myTemp'
        });

        const vm = new Vue({
            el: '#app',
            data() {
                return {
                    title: '直辖市',
                    cities:['beijing','shanghai','tianjin','chongqing'],
                    age: 100
                }
            }
        });
    </script>
</body>
</html>