body {
    margin: 0px;
}

/* 文本相关 */
.pbox {
    /* 字符间距 */
    letter-spacing: 5px;
    /* 水平居左 */
    text-align: center;
    text-align: left;
    text-align: right;
    /* 文本缩进 */
    text-indent: 2em;   /* 文本当前缩进的两倍：em是相对于元素的属性大小(2em只两个当前元素的属性大小) */ 
    text-indent: 10px;
    /* 行高 */
    line-height: 20px;
}
.pbox2 {
    /* 单词的间隔：单词以空格区分 */
    word-spacing: 10px;
    /* 文字修饰 */
    text-decoration: underline; /* 下划线 */
    text-decoration: overline;  /* 上划线 */
    text-decoration: line-through;  /* 删除线 */
    text-decoration: none;
    /* 文本占据高度，但不是字体高度 */
    height: 40px;
    /* 行占据高度 */
    line-height: 50px;
    background-color: skyblue;
    /* 设置背景色透明，或者使用rgba控制 */
    background-color: transparent;  /* transparent: 透明的；清澈的；易识破的；易看穿的 */
}

a {
    text-decoration: none;
}

img {
    /* 添加边框：有三个子属性：宽 样式 颜色 */
    border: 1px solid red;          /* 实线 */
    border: medium dashed green;    /* 虚线 */
    /* 对齐方式，将图片与一行中其他元素对齐 */
    vertical-align: bottom;
    vertical-align: top;
    vertical-align: baseline;   /* 基线：英文字符书写的第三行线就是基线 */ 
    vertical-align: middle;       
}

span {
    height: 100px;
}

.div {
    background-color: rgb(103, 243, 103);
    height: 60px;
    font-size: 20px;
}
.div.p1 {
    line-height: 30px;
}
.div.p2 {
    line-height: 60px;
}
.div.p3 {
    /* 为什么会失效？ */
    line-height: 90x;
}

/* TODO: 如何通过图片拉伸自适应窗口 */
.bg-wrap {
    /* 元素范围 */
    /* border: 2px solid red; */
    background-image: url(./278f938be4b460a57962d542eee989f6.jpg);
    /* 让整个元素固定在屏幕的最上方和最左方 */
    background-position: 0 0;
    /* position:fixed;
    top: 0;
    left: 0; */
    /* 让整个元素跟屏幕实现一模一样的大小，从而达到全屏效果, 
        这个这么用是有问题的因为父元素可能有外边距，这么用可能导致元素超出屏幕范围 */
    /* width:100%;
    height:100%; */
    /* 元素最小宽度为1000px */
    min-width: 1000px;
    /* 将元素放到各个层级下方，负10层 */
    z-index:-10;
    /* 默认会水平垂直平铺，以填补空白 */
    /* background-repeat: no-repeat; */
    background-repeat: repeat;
    /* 让图片随屏幕大小同步缩放 */
    background-size:cover;
}

.travel {
    border: 0 0;
    padding: 0 0;
    /* border: 1px solid blue; */
    width: 28px;
    height: 28px;
    background-image: url(tb-jinglingtu.png);
    background-repeat: no-repeat;
    /* 垂直方向向上移动86像素 */
    background-position: 0 -90px;
    cursor: pointer;
}

/* 淘宝首页列表按钮 */
.conve-list {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
    padding-inline-start: 40px; */
    padding: 0;
    list-style: none;
    width: 288px;
    height: 77px;
}
.conve-list li {
    background-color: #f4f4f4;
    /* TODO */
    float: left;            
    height: 75px;
    width: 70px;
    border: 1px solid #e4e4e4;
    /* TODO */
    overflow: visible;
}
.conve-list a {
    cursor: pointer;
    padding-top: 1px;
    /* TODO */
    text-align: center;
    text-decoration: none;
    /* TODO */
    display: block;
}
.conve-list .tbh-icon {
    background: url(tb-jinglingtu.png) 0 0 no-repeat;
    /* TODO */
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 11px;
}
.conve-list p {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 24px;
}
/* TODO: 使用js实现下面bt1~4的控制 */
.tbh-icon.bt1 {
    background-position: 0 0px;
}
.tbh-icon.bt2 {
    background-position: 0 -45px;
}
.tbh-icon.bt3 {
    background-position: 0 -90px;
}
.tbh-icon.bt4 {
    background-position: 0 -133px;
}

/* css实现细线表格 */
#div-1712 table,
#div-1712 tr,
#div-1712 td {
    border: 1px solid gray;
    border-spacing: 1px;
    /* border-collapse: collapse; */
    border-collapse: separate;
}
#div-1712 table {
    /* 标题位置 */
    caption-side: bottom;
    width: 500px;
    /* 隐藏空的单元格 */
    empty-cells: hide;
}